@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "resets";
@import "utility";

// navbar
.navbar-section{   
    .navbar-container{
        display: flex;
        justify-content: space-between;
        margin-block: 0;
        width: 95vw;
    }
    .logo{
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 2rem;
        gap: 1rem;
    }
    .nav-links{
        display: flex;
        align-items: center;
        list-style-type: none;
        font-size: 1.4rem;        
    }
    .nav-links a{
        color: black;
        padding-inline: 1rem;
        padding-block: 0.5rem;
    }
    .nav-links a:hover{
        color: red;   
    }
    .list-item{
        text-decoration-line: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /* for mobile navbar */
    .hamburg-icon,.close-icon{
        display: none;
    }
}

.home-section{
    height:100vh;
    width: 100vw;
    background-image: url("images/mount-fuji.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    .home-container{
        margin-block-start: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: white;
        height: 100%;
    }
}

.about-section{   
    .about-container{
        background-image: linear-gradient(rgba(18, 15, 15, 0.269),rgba(25, 23, 23, 0.238)),url("images/sakura-bg.jpg");
        border-radius: 20px;
        color: white;
        padding-inline: 4rem;
        margin-block-start: 5rem;
        padding-block-end: 3rem;
    }
    .about-content{
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        align-items: center;
    }
    .about-content p{
        font-size: 1.1rem;
    }
}

.things-section{
    .things-content{
        margin-block-start: 3rem;
        display: grid;
        grid-template-columns: repeat(3,auto);
        justify-content: space-around;
        column-gap: 2rem;
        row-gap: 3rem;
        padding-inline: 3rem;
    }
    .thing{
        gap: 1rem;
    }
    .thing h2{
        align-self: center;
    }
    .thing img{
        align-self: center;
        width: 20vw;
        aspect-ratio: 1/1;
        border-radius: 20px;
        cursor: pointer;
    }
    .thing img:hover{
        filter: brightness(60%);
    }
}

.cuisine-section{
    .cuisine{
        display: flex;
        justify-content: space-between;
        margin-block-end: 3rem;
        gap: 6rem;
        padding-inline: 5rem;
    }
    .cuisine img{
        width: 20vw;
        aspect-ratio: 1/1;
        border-radius: 20px;
    }
    .cuisine-content{
        gap: 1rem;
        padding: 3rem;
    }
    .cuisine2,.cuisine4{
        flex-direction: row-reverse;
    }
}

.city-section{
    .city-content{
        display: flex;
        justify-content: space-around;
    }
    .city{
        gap: 1rem;
    }
    .city img{
        width: 25vw;
        aspect-ratio: 3/4;
        border-radius: 20px;
        cursor: pointer;
    }
    .city img:hover{
        filter: brightness(60%);
    }
}

.contact-section{
    margin-block-start: 3rem;
    background-color: black;
    color: white;

    .contact-text{
        text-align: center;
        padding-block-end: 4rem;
    }
}

.footer-section{
    margin-block-start: 4rem;
    background-color: red;
    font-size: 1rem;
    padding-block: 1rem;
    text-align: center;
}